<center style='margin-top: 20%;color: #3b528a;'>
	<%= image_tag('http://capistranorb.com/images/CapistranoLogo.png') %>
	<h2>A remote server automation and deployment tool written in Ruby.</h2>
</center>
